/* ================== Main Page Content Styles =================== */
header {
  padding: 30px 20px;
  color: #fff;
  background-color: #f15b31;
}

nav {
  padding: 20px 0;
  color: #fff;
  background-color: #00a6b3;
}

body { 
  margin: 0;
  text-align: center;
  text-decoration: none;
}

main {
  margin: 35px auto;
  width: 850px;
}

h1 {
  margin: 0;
  font: 400 45px "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font: 600 20px "Raleway", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #0d2c40;
}

/* ========== Card images initialized with JavaScript ============ */
img {
  margin: 40px 8px 0px 8px;
}

/* ========================== Paragraph ========================== */
p {
  margin: 20px;
  font: 18px "Raleway", serif;
  text-transform: uppercase;
}

.game-description {
  font: 18px "Droid Serif", serif;
  line-height: 26px;
  color: #0d2c40;
}

/* =========================== Button ============================ */
button {
  margin-top: 20px;
  font: 600 18px "Raleway", serif;
  text-transform: uppercase;
  border: 2px solid #f15b31;
  border-radius: 6px;
  background-color: #fff;
}

button:hover {
  background-color: #f15b31;
  color: #000;
}

/* =========================== Footer ============================ */
footer {
  padding: 0 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .08em;
  background-color: #0d2c40;
  color: white;
}

.name {
  font-weight: 700;
  color: #f15b31;
}

.copyright,
.message {
  font-family: "Raleway", sans-serif;
}

/* =====================  Float Positioning  ===================== */
.copyright {
  float: left;
}

.message {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

/* ===========================  Links  =========================== */
a {
  margin: 0 20px;
  border-bottom: 2px solid transparent;
  font: 600 18px "Raleway", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

a:hover {
  border-color: white;
}