/* Styles for Memory Game */
/** {
  border: 1px solid black;
}*/
/* ================== Main Page Content Styles =================== */
body {
  background-image: url("../images/stars-background.png");
  background-size: cover;
}

header {
  padding: 20px 20px;
  color: #fff;
}

nav {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 0;
  color: #fff;
  text-align: center;
}

body { 
  margin: 0;
  text-decoration: none;
  background-color: #fff;
}

main {
  margin: 35px auto;
  width: 850px;
  text-align: center;
}

h1 {
  margin: 0;
  line-height: .1em;
  text-align: center;
  font: 60px "Audiowide", sans-serif;
  color: #ffc811;
}

h2 {
  font: 400 20px "Open Sans", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffc811;
}

#js-outcome {
  /*padding-bottom: 0;*/
  height: 20px;
}

/* ========== Card images initialized with JavaScript ============ */
img {
  margin: 10px 8px 0px 8px;
  border: 2px solid #eee;
  border-radius: 10px;
  opacity: .7;
}

/* ========================== Paragraph ========================== */
p {
  margin: 20px;
  /*font: 16px "Open Sans", serif;*/
}

.game-description {
  height: 60px;
  font: 300 18px "Open Sans", serif;
  text-align: justify;
  line-height: 20px;
  color: #fff;
}

.scoreboard {
  font: 400 18px "Open Sans", serif;
  color: #fff;
}

/* =========================== Buttons ============================ */
button {
  font: 400 18px "Open Sans", serif;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background-color: transparent;
}

button:hover {
  background-color: #fff;
  color: #000;
}

.flipShuffle {
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #fff;
  border-radius: 6px;
}

/* =========================== Footer ============================ */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .08em;
  background-color: #000;
}

.name {
  font-weight: 700;
  color: #ffc811;
}

.copyright,
.message {
  margin: 5px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

/* =====================  Float Positioning  ===================== */
.copyright {
  float: left;
}

.message {
  float: right;
  padding-right: 40px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

/* ===========================  Links  =========================== */
a {
  padding: 0 25px;
  border-bottom: 2px solid transparent;
  font: 400 18px "Open Sans", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

a:hover {
  border-color: white;
}